<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Two-Fa completed | Airbound</title>
      <style>
         body {
            background-color: #f8fafc;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
         }
         .container p {
            font-size: 15px;
            color: #334155;
            marging-top: 20px;
            text-align: center;
         }
      </style>
   </head>

   <body>
      <div class="container">
         <p>You've been authenticated. You can now close this page.</p>
      </div>
   </body>
</html>